.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-areas: "header header header header"
                         "main main  . sidebar"
                         "footer footer footer footer";
    height: 900px; */
    grid-template-areas: "header header . header"
                        " main main . main"
                         " footer footer footer footer";
    height: 900px;
    width: 900px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    /* justify-items: center;
    /* start stretch center end
} */
    /* align-items: center;
    stretch center baseline center  */ 
    /* place-items: center; */
    justify-content: space-around;
    align-content: space-between;


}
.item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    max-width: 200px;
}
/* .item1 {
    grid-area: header;
}
item2 {
    grid-area: main;
}
.item3 {
    grid-area: sidebar;
}
.item4 {
    grid-area: footer;
} */
.item1 {
    grid-column: 1 /  2;
    grid-row: 1 / 3;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: span 3;
    align-self: stretch;
    justify-self: auto;
    place-self: auto;

}