
*{
    margin: 0; 
     /* outermost area , between th elements and border */
    padding: 0;
    box-sizing: border-box;
}p{
    color: blue;
    background-color: rgb(46, 220, 142);
    text-align: center ;
    font-size: 30px;
    padding: 10px;
}
.rk{    
    color: green;
    background-color: rgb(73, 42, 165);
}
#l1{
    color: red;
    background-color: rgb(201, 224, 51);
}
body{
    background-color: lightgray;
}

div{
    width: 200px;
    height: 100px;
    background-color: coral;
    font-size: 2em;
    margin: auto;
    text-align: center;
    line-height: 100px;
    border: 2px double black;
    margin-left: 20px;}