#box1{
    width: 200px;
    height: 100px;
    background-color: rgb(206, 110, 75);
    font-size: 2em;
    margin: auto;
    text-align: center;
    line-height: 100px;
    border: 2px double rgb(179, 21, 21);
    margin-left: 20px;
}
#box2{
    width: 90px;
    height: 250px;
    background-color: rgb(152, 202, 53);
    font-size: 2em;
    margin: auto;
    text-align: center;
    line-height: 100px;
    border: 2px solid rgb(151, 55, 55);
    margin-left: 20px;
}
#box3{
    width: 159px;
    height: 170px;
    background-color: rgb(50, 171, 211);
    font-size: 2em;
    margin: auto;
    text-align: center;
    line-height: 150px;
    border: 2px dotted rgb(141, 55, 55);
    margin-left: 20px;
}
#box4{
    width: 150px;
    height: 98px;
    background-color: rgb(49, 145, 49);
    font-size: 2em;
    margin: auto;
    text-align: center;
    line-height: 150px;
    border: 2px groove black;
    margin-left: 20px;
}
body{
    background-color: rgb(253, 249, 249);
}